<div class="pure-g-r">
    <div class="pure-u-1-3">
        <h3>Unordered List 无序列表</h3>

        <ul>
            <li>list item 列表项目 1</li>
            <li>list item 列表项目 1
                <ul>
                    <li>list item 列表项目 2</li>
                    <li>list item 列表项目 2
                        <ul>
                            <li>list item 列表项目 3</li>
                            <li>list item 列表项目 3</li>
                        </ul>
                    </li>
                    <li>list item 列表项目 2</li>
                    <li>list item 列表项目 2</li>
                </ul>
            </li>
            <li>list item 列表项目 1</li>
            <li>list item 列表项目 1</li>
        </ul>
    </div>

    <div class="pure-u-1-3">
        <h3>Ordered List 有序列表</h3>

        <ol>
            <li>list item 列表项目 1</li>
            <li>list item 列表项目 1
                <ol>
                    <li>list item 列表项目 2</li>
                    <li>list item 列表项目 2
                        <ol>
                            <li>list item 列表项目 3</li>
                            <li>list item 列表项目 3</li>
                        </ol>
                    </li>
                    <li>list item 列表项目 2</li>
                    <li>list item 列表项目 2</li>
                </ol>
            </li>
            <li>list item 列表项目 1</li>
            <li>list item 列表项目 1</li>
        </ol>
    </div>

    <div class="pure-u-1-3">
        <h3>Definition Lists 定义列表</h3>

        <dl>
            <dt>Definition term 定义条款</dt>
            <dd>Definition description 详情描述</dd>

            <dt>Definition term 定义条款</dt>
            <dd>Definition description 详情描述</dd>
            <dd>Definition description 详情描述</dd>

            <dt>Definition term 定义条款</dt>
            <dt>Definition term 定义条款</dt>
            <dd>Definition description 详情描述</dd>
        </dl>
    </div>
</div>
